@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);


/* 홈이동 */

.head{
    padding:10px;
    margin: 10px 0px 10px 0px; 
    height:170px; 
    background-color:white
    
}

.foot{
    text-align : left; 
    padding:15px; 
    border: 5px; 
    background-color:#f29c74; 
    height:30px; 
    margin:50px 0px 10px 0px;
    font-size: 14px;
    color: white;
}


li{
    list-style: none;
}



/* 네비바 스타일 */

#nav{
    list-style: none;
    height: 40px;
    padding: 13px 40px;
    margin: 0;
    background-color: #f29c74;
    
}



#nav li{
    float: left;
    position:relative;
    margin: 10px 41px;
    padding: 0;

}

/* 메뉴 글자 스타일 */
#nav li a{                 
    display: block;         
    font-family: 'Jeju Gothic', sans-serif;
    
    font-size: 18px;
    padding: 1px 30px ;
    /* margin: 0px 0px 0px 0px; */
    color: #fff;
    margin: 0;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba (0,0,0,0.3);   /*글자에 그림자   */
}

/* 선택시 */
#nav li:hover >a {
    background-color: #ffcab2;
    color: rgb(247, 115, 27);

    font-weight: bold;
}

li:hover{
background-color: #f29c74;

}


#div{
    height:1500px; 
    background-color:white; 
    text-align : center;
}

#div1{
    height:1700px; 
    background-color:white; 
    text-align : center; 
    margin : 15px 0px 10px 0px"
}


/* 글꼴*/
h1, h2, h3 {
    font-family: 'Jeju Gothic', sans-serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 50px;
    box-shadow: 0.2em 0 0 #f29c74, -0.2em 0 0 #f29c74;
}

a {
    text-decoration-line: none;
    text-decoration: none; 
    text-decoration-color: black;
}

/* 방문 페이지 색변경 */
a:visited {
    text-decoration: none; color:black;  
}

h3{font-size: 20px;
    line-height: 175%;
}


article > a{
    margin: 0px 3px 0px 100px;
}

#article1{
    padding:15px; 
    argin: 15px 0px 0px 0px; 
    border: 5px solid #f29c74;
    height:230px;
}

#h3size{
    font-size: 25px;
}

#section0{
    padding:15px; 
    margin: 15px 0px 0px 15px; 
    border: 5px solid gray; 
    height:1350px;
}

#section{
    float:left; 
    width: 50%; 
    height:1290px;
}

#section2{
    float:right; 
    width: 50%; 
    height:1350px;
}

#article{
    padding:15px; 
    margin: 15px 0px 0px 0px; 
    height:100px;
}




